.nav-pills{
	padding-top: 20px; 
	margin-bottom: 10px; 
}
.nav>li>a {
	padding-left: 14px!important;
	padding-right: 14px!important;
}

.songList .list-group-item span{
	line-height: 34px; 
	height: 34px; 
}
.friendList .list-group-item span{
	line-height: 34px; 
	height: 34px; 
}
.searchList .list-group-item span{
	line-height: 34px; 
	height: 34px; 
}

.audioDiv{
	position: fixed;
	bottom: 0;
	left:0;
	width:100%;
	height: 48px; 
	box-sizing: content-box;
}
.audioDiv audio{
	width: 100%;
	height: 100%;
}
