.fl{float: left; }
.fr{float:right; }
.clear{zoom:1;}
.clear:after{content:""; display: table; clear:both; }
/*pannel for PC*/
.panel{
	max-width: 400px;
	margin:0 auto;
}
/*loading*/
canvas{
	margin:0 auto;
	display: block;
}