<div class="container checkShareRequest">
  <music-nav show-name="true" username="user.name">
    <li ng-click="toLogin()">注销</li>
    <li ng-click="toHome()">个人中心</li>
  </music-nav>

	<ul class="nav nav-pills" role="tablist">
  		<li role="presentation" class="active">
    		<a href="javascript:;">分享事项</a>
  		</li>
  		<button class='btn btn-success pull-right' data-toggle="modal" data-target="#shareModal">点击创建分享</button>
	</ul>
	<div class="checkShareList">
		<span ng-show="shareRequests.length==0" class="text-danger">无</span>
		<ul ng-show="shareRequests.length!=0" class="list-group">

		    <li class="list-group-item" ng-repeat="shareRequest in shareRequests">
          <div class="row">
            <span class="col-xs-4">歌曲名称：</span>
            <span class="col-xs-8 text-right">{{shareRequest.song.name}}</span>
          </div>
          <div class="row">
            <span class="col-xs-4">发起人：</span>
            <span class="col-xs-8 text-right">{{shareRequest.owner.name}}</span>
          </div>
          <div class="row">
            <span class="col-xs-4">接收人：</span>
            <span class="col-xs-8 text-right">{{shareRequest.target.name}}</span>
          </div>
          <div class="row">
            <span class="col-xs-4">类型：</span>
            <span class="col-xs-8 text-right" ng-show="shareRequest.owner.name==user.name">发起</span>
            <span class="col-xs-8 text-right" ng-show="shareRequest.target.name==user.name">接收</span>
          </div>
		    	<div class="row" ng-show="shareRequest.target.name==user.name&&shareRequest.status==0">
		    		<button class="btn btn-success col-xs-3 col-xs-offset-2" ng-click="replyShareRequest(shareRequest._id, 1)">同意请求</button>
		    		<button class="btn btn-danger col-xs-3 col-xs-offset-2" ng-click="replyShareRequest(shareRequest._id, 2)">拒绝请求</button>
		    	</div>
		    	<p class="text-center text-success" ng-show="shareRequest.status==1">已成功操作</p>
		    	<p class="text-center text-danger" ng-show="shareRequest.status==2">已拒绝操作</p>
		    </li>
	  	</ul>		
	</div>
</div>
<!-- Modal -->
<music-modal id="shareModal">
    <modal-title>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="resetStatus()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel" ng-show="shareOperationStatus==0">选择好友</h4>
        <h4 class="modal-title" id="myModalLabel" ng-show="shareOperationStatus==1">选择歌曲</h4>
    </modal-title>
    <modal-body>
        <table class="table" ng-show="shareOperationStatus==0">
            <thead>
              <tr>
                <th>姓名</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="friend in user.friends">
                <th>{{friend.name}}</th>
                <th>
                  <button type="button" class="btn btn-primary" ng-click="selectFriend(friend)">  
                    选择
                  </button>
                </th>
              </tr>
            </tbody>
      </table>
      <table class="table" ng-show="shareOperationStatus==1">
        <thead>
          <tr>
            <th>歌曲名</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="song in user.songs">
            <th>{{song.name}}</th>
            <th>
              <button type="button" class="btn btn-primary" ng-click="selectSong(song)" data-dismiss="modal"> 
                选择并确定
              </button>
            </th>
          </tr>
        </tbody>
      </table>
    </modal-body>
    <modal-footer>
      <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="resetStatus()">关闭</button>
    </modal-footer>
</music-modal>
</div> 