<div class="container home">
	<music-nav show-name="true" username="user.name">
		<li ng-click="toLogin()">注销</li>
	  	<li ng-click="toCheckFriendRequest()">加友管理</li>
		<li ng-click="toCheckShareRequest()">音乐分享</li>
	</music-nav>


	<ul class="nav nav-pills" id="container" role="tablist">
  		<li role="presentation" ng-click="tab='SongTab'"
  			ng-class="{SongTab: 'active', FriendTab: '', UploadTab:'', SearchTab:''}[tab]">
    		<a href="javascript:;">音乐列表</a>
  		</li>
  		<li role="presentation" ng-click="tab='FriendTab'"
  			ng-class="{SongTab: '', FriendTab: 'active',UploadTab:'', SearchTab:''}[tab]">
    		<a href="javascript:;">好友列表</a>
  		</li>
  		<li role="presentation" ng-click="tab='UploadTab'"
  			ng-class="{SongTab: '', FriendTab: '', UploadTab:'active', SearchTab:''}[tab]">
    		<a href="javascript:;">音乐上传</a>
  		</li>  		
  		<li role="presentation" ng-click="tab='SearchTab'"
  			ng-class="{SongTab: '', FriendTab: '', UploadTab:'', SearchTab:'active'}[tab]">
    		<a href="javascript:;">搜索歌曲</a>
  		</li>
	</ul>
	<div ng-show="tab=='SongTab'" class="songList">
		<span ng-show="user.songs.length==0" class="text-danger">无</span>
		<ul ng-show="user.songs.length!=0" class="list-group">
		    <li class="list-group-item row" ng-repeat="song in user.songs">
		    	<div class="col-xs-8">
                    <span>{{song.name}}</span>
                </div>
                <div class="col-xs-4">
                    <button class="btn btn-success fr" name="viewSong" ng-click="download(song.url)">收听</button>
                </div>
            </li>
	  	</ul>		
	</div>
	<div ng-show="tab=='FriendTab'" class="friendList">
		<span ng-show="user.friends.length==0" class="text-danger">无</span>
		<ul ng-show="user.friends.length!=0" class="list-group">
		    <li class="list-group-item row" ng-repeat="friend in user.friends">
		        <div class="col-xs-6">
                    <span>{{friend.name}}</span>
                </div>
                <div class="col-xs-6">
                    <span class="fr">兴趣：{{friend.interest}}</span>
                </div>
		    </li>
	  	</ul>		
	</div>
	<div ng-show="tab=='UploadTab'" class="uploadPage">
		<music-uploader></music-uploader>
	</div>
	<div ng-show="tab=='SearchTab'" class="SearchList">
		<div class="form-group">
    		<input type="text" class="form-control" placeholder="请输入歌曲名称，每次最多返回10条"
    			ng-model="searchSong" ng-change="dynamicSearch()">
  		</div>
		<ul class="list-group">
		    <li class="list-group-item row" ng-repeat="song in resultSongs"
		    	ng-show="resultSongs.length != 0 && searchingStatus != 'search'">
		        <div class="col-xs-8">
                    <span>{{song.name}}</span>
                </div>
                <div class="col-xs-4">
                    <button class="btn btn-success fr" ng-click="addSong(song)">添加至列表</button>
                </div>
		    </li>
	  	</ul>
	  	<div ng-show="resultSongs.length == 0 && searchingStatus != 'search'">
		    <p>{{resultMessage}}</p>
		</div>	
		<div ng-show="searchingStatus == 'search'">
    		<p>正在搜索中...</p>
    	</div>		
	</div>
	<div class="audioDiv" ng-show="musicFlag">
		<audio controls autoplay ng-src="{{sce(musicUrl)}}">
		</audio>		
	</div>

</div>
