<div class="container">
	<music-nav show-name="false">
		<li ng-show="!id">未登录</li>
		<li ng-show="id">已登录</li> 
	</music-nav>

	<img src="http://www.cio.com.cn/source/attachments/image/20150810/20150810105138_30376.jpg" class="img-responsive" alt="欢迎使用音乐分享平台">

	<div class="row" ng-show="!id">
		<button class="btn btn-primary col-xs-6 col-xs-offset-3" ng-click="toLogin()">
			<span>点此登录</span>
		</button>
	</div>
	<div class="row" ng-show="id">
		<button class="btn btn-primary col-xs-6 col-xs-offset-3" ng-click="toHome()">
			<span>点此进入首页</span>
		</button>
	</div>
</div>