<div class="container home">
	<music-nav [showName]="true" [username]="username">
		<li (click)="toLogin()">注销</li>
	  	<li (click)="toCheckFriendRequest()">加友管理</li>
		<li (click)="toCheckShareRequest()">音乐分享</li> 
	</music-nav>

	<ul class="nav nav-pills" id="container" role="tablist">
  		<li role="presentation" [class.active]="tab=='SongTab'" (click)="tab='SongTab'">
    		<a href="javascript:;">音乐列表</a>
  		</li>
  		<li role="presentation" [class.active]="tab=='FriendTab'" (click)="tab='FriendTab'">
    		<a href="javascript:;">好友列表</a>
  		</li>
  		<li role="presentation" [class.active]="tab=='UploadTab'" (click)="tab='UploadTab'">
    		<a href="javascript:;">音乐上传</a>
  		</li>
  		<li role="presentation" [class.active]="tab=='SearchTab'" (click)="tab='SearchTab'">
    		<a href="javascript:;">歌曲搜索</a>
  		</li>

	</ul>
	<div *ngIf="tab=='SongTab'" class="songList">
		<span *ngIf="songs.length==0" class="text-danger">无</span>
		<ul *ngIf="songs.length!=0" class="list-group">
		    <li *ngFor="let song of songs" class="list-group-item row">
		    	<div class="col-xs-8">
                    <span>{{song.name}}</span>
                </div>
                <div class="col-xs-4">
                    <button class="btn btn-success fr" name="viewSong" (click)="download(song.url)">收听</button>
                </div>
            </li>
	  	</ul>		
	</div>
	<div *ngIf="tab=='FriendTab'" class="friendList">
		<span *ngIf="friends.length==0" class="text-danger">无</span>
		<ul *ngIf="friends.length!=0" class="list-group">
		    <li *ngFor="let friend of friends" class="list-group-item row">
		        <div class="col-xs-6">
                    <span>{{friend.name}}</span>
                </div>
                <div class="col-xs-6">
                    <span class="fr">兴趣：{{friend.interest}}</span>
                </div>
		    </li>
	  	</ul>		
	</div>
	<div *ngIf="tab=='UploadTab'" class="uploadPage">
		<music-uploader></music-uploader>
	</div>
	<div *ngIf="tab=='SearchTab'" class="SearchList">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="请输入歌曲名称，每次最多返回10条"
                [(ngModel)]="searchSong" (ngModelChange)="dynamicSearch()">
        </div>
        <ul class="list-group" *ngIf="resultSongs.length != 0 && searchingStatus != 'search'">
            <li class="list-group-item row" *ngFor="let song of resultSongs">
                <div class="col-xs-8">
                    <span>{{song.name}}</span>
                </div>
                <div class="col-xs-4">
                    <button class="btn btn-success fr" (click)="addSong(song)">添加至列表</button>
                </div>
            </li>
        </ul>
        <div *ngIf="resultSongs.length == 0 && searchingStatus != 'search'">
            <p>{{resultMessage}}</p>
        </div>  
        <div *ngIf="searchingStatus == 'search'">
            <p>正在搜索中...</p>
        </div>      
    </div>
    <div class="audioDiv" *ngIf="musicFlag">
        <audio controls autoplay [src]="musicUrl">
        </audio>        
    </div>
</div>
